@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer {
    width: 90%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border: 1px solid purple;
    border-radius: 10px;
}

#welcomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcomePage h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(39, 39, 39);
}

#startBtn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 20px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

#startBtn:hover {
    background-color: black;
    color: white;
}

/* First page */
#firstPage {
    display: none;
    flex-direction: column;
    align-items: center;
}

.triviaH1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: purple;
}

label {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input, 
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

button[type="submit"]:hover {
    background-color: black;
    color: white;
    border: 1px solid gainsboro;
}

#gameContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#gameContainer h1 {
    font-size: 24px;
    color: purple;
}

#gameContainer h2 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

#gameContainer ol {
    list-style: none;
    padding: 0;
}

#gameContainer li {
    background-color: #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}

#gameContainer li:hover {
    background-color: gray;
}

/* msg styling */
p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* Hidden class */
.hidden {
    display: none;
}

/* Score div styling */
#scoreDiv {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Next Question button */
#nextQuestionBtn {
    margin-top: 20px;
    background-color: #ffc107;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

#nextQuestionBtn:hover {
    background-color: rgb(250, 124, 6);
}

#continueBtn {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

#continueBtn:hover {
    background-color: black;
    color: white;
    border: 1px solid gainsboro;
}

#quitBtn {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

#quitBtn:hover {
    background-color: black;
    color: white;
    border: 1px solid gainsboro;
}

#startAgain {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

#startAgain:hover {
    background-color: black;
    color: white;
    border: 1px solid gainsboro;
}

#theWinner {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

#theWinner:hover {
    background-color: black;
    color: white;
    border: 1px solid gainsboro;
}

/* Responsiveness */
@media (max-width: 600px) {
    .mainContainer {
        width: 100%;
        padding: 15px;
    }

    input,
    select,
    button {
        font-size: 14px;
    }
}

